name: Native Image Build Pipeline

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup GraalVM
      uses: graalvm/setup-graalvm@v1
      with:
          java-version: '17'
          distribution: 'graalvm'

    - name: Build native image
      run: mvn package -Pnative

    - name: Upload binary
      uses: actions/upload-artifact@v2
      with:
        name: codelabcicd-native-executable
        path: target/codelabcicd-1.0-SNAPSHOT-runner
